.productCard {
    width: 100%;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    margin-bottom: 50px;
    height: 400px;
    text-align: center;
}

.productCard img{
    width: 80%;
    height: 250px;
    padding: 2px;
}

.order-button{
    width: 100%;
    padding: 10px;
    background-color:#218838 ;
    color: white;
}